<h1> New Client! </h1>
<main>
  <% if @errors %>
    <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>
<hr>
    <p><%= form_for @client do |f| %></p>
    <p><%= f.label :name, "Name" %>
    <%= f.text_field :name %></p>
    <p><%= f.label :home_address, "Address" %>
    <%= f.text_field :home_address %></p>
    <hr>
    <p><%= f.submit "Submit client" %></p>
    <% end %>
</main>